$desktop-min-width: 1280px;
$tablet-min-width: 768px;
$main-text-color: #252541;
$main-background-color: #1D1D25;
$second-text-color: #727272;
$active-color: #F89E52;
$low-active-color: #FFF2E7;
$link-color: #3482FE;
$color-white: #fff;
$color-border: #E5E7EC;
$effect-duration: 0.5s;
$second-background-color: #292F3E;
$color-title: #0B0B0B;
$color-yellow: #FFD437;
$color-light-orange: #F89E52;
$color-orange: #FF7012;
$color-grey: #BBBBBB;
$color-icon: #95BBD7;